<!-- Footer -->
<footer class="page-footer font-small blue pt-2 pb-2">

  <!-- Footer Links -->
  <div>

    <!-- Grid row -->
    <div class="row">

      <!-- LOGO column -->
      <div class="col-sm-0 col-md-4 d-none d-sm-none d-md-block text-center">
        <img src="img/logo.png" class="logo-footer">
      </div>


      <!-- CONTACT column -->
      <div class="col-6 col-sm-6 col-md-4 text-center">
        <h5 class="title mb-0"><%= trans.contactUs.toUpperCase() %> </h5>
        <small>
          pcalmeyn@telenet.be<br>
          0032(0)475-44.68.96<br>
          Heikruisesteenweg 12<br>
          1670 Bogaarden<br>
          België
        </small>
      </div>

      <!-- MEDIA column -->
      <div class="col-6 col-sm-6 col-md-4 text-center">
        <h5 class="mb-2 title"><%= trans.followUs.toUpperCase(); %> </h5>
        <a href="https://www.facebook.com/" target="_blank">
          <img src="img/facebook.png" class="logo-social">
        </a>

        <a href="https://www.instagram.com/" target="_blank">
          <img src="img/instagram.png" class="logo-social ml-2">
        </a>

        <a href="https://www.linkedin.com/in/piet-calmeyn-1409b7a6" target="_blank">
          <img src="img/linkedin.png" class="logo-social ml-2" style="border-radius: 10%;">
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->